#suPHP_ConfigPath /home/seisei-admin/masterstudy.jp/xserver_php/
#AddHandler fcgid-script .php .phps
#FCGIWrapper "/home/seisei-admin/masterstudy.jp/xserver_php/php-cgi" .php
#FCGIWrapper "/home/seisei-admin/masterstudy.jp/xserver_php/php-cgi" .phps

