#tab1_inner,
#tab2_inner,
#tab3_inner {
    display: none;
    height: 1200px;
}

/* 入試について */
.exam_top {
    background: url(exam_top.jpg);
}

#exam {
    width: 95%;
    max-width: 1000px;
    margin: 100px auto;
}
#exam p {
    display: block;
    margin-bottom: 1.2em;
    line-height: 1.8em;
    text-align: center;
}

#tab1_inner img {
    display: block;
    width: 100%;
    max-width: 850px;
    margin: auto;
}
#tab2_inner img {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto 100px;
}
#tab3_inner img {
    display: block;
    width: 100%;
    max-width: 745px;
    margin: 0 auto 100px;
}
.youkou {
    color: #8d0000;
    cursor: pointer;
}
.youkou:hover {
    text-decoration: underline;
}

/* 入学までの流れ */
.enter_nagare {
    display: block;
    width: 830px;
    counter-reset: li; /*olのリストの数字をリセット*/
    margin: auto;
}
.enter_nagare li {
    position: relative;/*リストの項目の位置を基準に*/
	padding: 20px 20px 20px 80px;
    list-style: none; /*元のスタイルを非表示にする*/
    border-top: solid 1px #ddd;
    color: #555;
}
.enter_nagare li span {
	display: block;
    font-size: 1.1em;
    margin-bottom: 0.7em;
}
.enter_nagare li:before {
	counter-increment: li;
	content: counter(li);
	margin-right: 1em;
	background: #6d0000; /*薄いピンク*/
	border: 1px solid #6d0000; /*濃いピンク*/
	color: #ffffff; /*白*/
	border-radius: 50%; /*丸く*/
	text-align: center; /*端に寄ってる数字を真ん中に*/
	width: 2.6em; /*幅を決めるheightと同じ数値に*/
	height: 2.6em; /*高さ。widthと同じ数値に。数値変更した場合はline-heightで調整を*/
	position: absolute; /*リストの基準から移動させる*/
	left: 20px; /*項目の基準、左にあわせる*/
	top: 20px; /*基準の上から2pxの位置に表示。テーマによって位置がずれる場合は修正を*/
	line-height: 2.6em;/*数字の位置あわせで数値を指定*/
}

@media screen and (max-width: 1049px) {
#exam {
    width: 100%;
    margin: 0 auto;
}
#tab1_inner {
    width: 100%;
}
ol.enter_nagare {
    width: 100%;
}
.enter_nagare li {
    font-size: 0.95em;
}
}


/* 学費について */
.fee_top {
    background: url(exam_top.jpg);
}
#fee {
    width: 900px;
    margin: 100px auto;
}
#fee p {
    display: block;
    line-height: 2.0em;
    margin-bottom: 10px;
    text-align: center;
}
#fee p span {
    font-size: 1.1em;
    font-weight: bold;
}
#fee img {
    display: block;
    width: 75%;
    margin: 50px auto 0;
}
#fee a,
#fee a:link,
#fee a:visited {
    color: #8d0000;
    cursor: pointer;
    text-decoration: none;
}
#fee a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1049px) {
#fee {
    width: 100%;
    margin-top: 0;
}
#fee p {
    padding: 0 20px 0;
    text-align: left;
}
#fee img {
    width: 100%;
    padding: 0 20px 0;
}
}


/* 説明会 */
.session_top {
    background: url(exam_top.jpg);
}

#session {
    width: 900px;
    margin: 100px auto;
}
#session_float {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}
#session_float img {
    width: 100%;
}
#session_float:hover > img {
    opacity: 0.8;
}
.session_line {
    width: 100%;
    height: 180px;
    border-bottom: solid 1px #eee;
    padding: 30px 0 10px;
}
.session01 {
    width: 20%;
    height: 100%;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.7em;
}
.session02 {
    width: 45%;
    height: 100%;
    float: left;
    overflow: auto;
    line-height: 1.7em;
}
.session02 span {
    font-size: 1.1em;
    font-weight: bold;
}
.session03 {
    width: 35%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    padding-top: 0px;
}
.session03 div {
    display: block;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 10px 20px;
    line-height: 1.5em;
}
.session03 span {
    display: inline-block;
    font-weight: bold;
}
.moushikomi {
    display: inline-block;
    background: #6d0000;
    color: white;
    font-size: 0.9em;
    padding: 3px 20px;
    margin-top: 10px;
    text-align: center;
    transition: .2s;
}
.moushikomi:link {
    text-decoration: none;
}
.moushikomi:hover {
    background: #8d0000;
    transition: .2s;
}

@media screen and (max-width: 1049px) {
#session {
    width: 100%;
}

.session01 {
    width: 35%;
    height: 130px;
    font-size: 1.1em;
    line-height: 1.7em;
    padding-left: 30px;
}
.session02 {
    width: 65%;
    height: 130px;
    float: none;
    line-height: 1.7em;
}
.session03 {
    width: 100%;
    height: 140px;
    padding: 20px;
}
.session_line {
    height: auto;
    padding: 30px 0 10px;
}
}




.rec {
    line-height: 50px;
    border-bottom: solid 1px #c0c0c0;
    
}

.rec-g {
    background-color: #f5f5f5;
}


.stuall {
        float: left;
        width: 16%;
        font-weight: bold;
        overflow: auto;        
        text-align: center;
}



.sikaku {
    font-weight: bold;
}




.stu1,
.stu2,
.stu3 {
    width: 28%;
}






.sikakuall {
        float: left;
        width: 16%;
        overflow: auto;        
        text-align: center;
}

.tyugaku,
.koko,
.tyutai {
    width: 28%;
    text-align: left;
}

.tab-l { /*表の左側*/
    float: left;
    width: 16%;
    font-weight: bold;    
    text-align: center;

}

.tab-r { /*表の右側*/
    text-align: center;   
    width: 84%;
    overflow: auto;
}




.docall {
        float: left;
        width: 16%;
        line-height: 1.8em;
        overflow: auto;        
        text-align: left;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}


.doc-1,
.doc-2,
.doc-3 {
    width: 28%
}




@media screen and (max-width:1049px) {
    
    
    .rec {
        font-size: 0.8em;
    }
    
    
    
    
    
    
    
    
    
}