html {
    position: relative;
    min-width: 540px;
    box-sizing: border-box;
    color: #222;
}
.bodyinner {
    overflow: hidden;
}

@font-face {
	font-family: 'YuMincho';
	src: url(_data/yumin.ttf);
}

body {
    padding-top: 120px;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
}

#kari img {
    display: block;
    width: 90%;
    max-width: 900px;
    margin: 100px auto;
}

.clear {
    clear: both;
}

b {
    font-weight: bold;
}
u {
    text-decoration: underline;
}

/* タブ切り替え */
.page_tab {
    display: block;
    width: 752px;
    height: 69px;
    font-size: 1.1em;
    color: #6D0000;
    border-top: solid 2px #6D0000;
    border-bottom: solid 2px #6D0000;
    border-left: solid 2px #6D0000;
    margin: 80px auto;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.page_tab li {
    display: block;
    width: 250px;
    height: 100%;
    border-right: solid 2px #6D0000;
    float: left;
}

.page_tab .active {
    background: #6d0000;
    color: white;
    transition: .3s;
}
.active {
    display: block !important;
}

@media screen and (max-width: 1049px) {
.page_tab {
    width: 482px;
    height: 50px;
    font-size: 0.9em;
    border-top: solid 2px #6D0000;
    border-bottom: solid 2px #6D0000;
    border-left: solid 2px #6D0000;
    margin: 80px auto;
    line-height: 46px;
}
.page_tab li {
    width: 160px;
    border-right: solid 2px #6D0000;
}
}

/* 見出しタグ */
h2 {
    display: block;
    width: 550px;
    background: transparent;
    color: #333;
    font-size: 1.8em;
    border-bottom: solid 3px #6d0000;
    margin: 120px auto 20px;
    padding-bottom: 0.5em;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1049px) {
    h2 {
        width: 100%;
        margin: 70px auto 20px;
    }
}

/* ボタン */
.contact_btn {
    display: block;
    width: 400px;
    font-size: 1.6em;
    margin: 60px auto;
    padding: 30px;
    text-align: center;
    color: #333;
    border: solid 3px #333;
    cursor: pointer;
    transition: .3s;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.contact_btn:hover {
    background: #333;
    color: white;
    transition: .3s;
}
.contact_btn:active {
    border: solid 3px #888;
    background: #888;
    transition: 0s;
}

.enter_btn a,
.enter_btn input {
	display: block;
	width: 300px;
	text-align: center;
	background: #6d0000;
	font-size: 1.3em;
	color: white !important;
	margin: 30px auto 30px;
	padding: 20px 0;
	letter-spacing: 0.1em;
	border: solid 2px #6d0000;
	transition: .3s;
    cursor: pointer;
}
.enter_btn a:hover,
.enter_btn input:hover {
	background: white;
	color: #6d0000 !important;
	text-decoration: none !important;
	transition: .3s;
}
.enter_btn a:link,
.enter_btn a:visited {
	text-decoration: none;
}


/* 上部固定メニュー */
nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 120px;
    background: white;
}
.nav_c1 {
    position: fixed;
    top: -120px;
    width: 100%;
    opacity: 0;
}
.nav_c2 {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    transition: .8s;
}

nav h1 {
    display: block;
    width: 220px;
    height: 60px;
    background: rgba(255,255,255,0.9);
    padding-top: 10px;
    padding-left: 20px;
}
nav h1 a {
    position: relative;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 40px;
}
nav h1 img {
    display: block;
    height: 100%;
}
nav h1 a:hover > img {
    opacity: 0.8;
}
.menu_box {
    display: block;
    width: 100%;
    height: 50%;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 800px;
    height: 60px;
}
.menu li {
    display: block;
    float: right;
    width: 160px;
    height: 100%;
    padding-top: 10px;
    transition: .3s;
    background: white;
    letter-spacing: 0.2em;
    text-align: center;
}
.menu li span {
    display: block;
    border-left: solid 1px #ccc;
    line-height: 40px;
}
.menu li:hover {
    background: #ddd;
    transition: .3s;
}
.menu a:link,
.menu a:visited {
    color: #333;
    text-decoration: none;
}
.menu .menu_now {
    background: #6d0000;
    color: #eee;
    transition: .3s;
}
.menu .menu_now:hover {
    background: #820000;
    transition: .3s;
}
.menu .menu_now span {
    border: none !important;
}

.menu_child_box {
    display: block;
    width: 100%;
    height: 60px;
    background: #6d0000;
}
.menu_child {
    display: block;
    width: 640px;
    height: 100%;
    margin: auto;
}
.menu_child.menu3 {
    width: 480px;
}
.menu_child li {
    display: block;
    float: left;
    width: 160px;
    height: 100%;
    transition: .3s;
    text-align: center;
    letter-spacing: 0.2em;
    padding-top: 10px;
}
.menu_child li span {
    display: block;
    border-left: solid 1px #ccc;
    line-height: 40px;
    transition: .3s;
}
.menu_child li span.mclast {
    border-right: solid 1px #ccc;
}
.menu_child li:hover > span {
    background: #7e0000;
    transition: .3s;
}
.menu_child a:link,
.menu_child a:visited {
    color: #eee;
    text-decoration: none;
}
.menu_child .menu_now {
    cursor: default;
}
.menu_child .menu_now span {
    background: white;
    color: #6d0000;
}
.menu_child .menu_now:hover span {
    background: white;
}

@media screen and (max-width: 1049px) {
body {
    padding-top: 80px;
}
nav {
    height: 80px;
}
nav h1 {
    width: 160px;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
}
nav h1 a {
    height: 30px;
}
nav h1 img {
    height: 30px;
}

.menu {
    width: 600px;
    height: 40px;
}
.menu_home {
    display: none !important;
}
.menu li {
    width: 95px;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    padding-top: 5px;
}
.menu li span {
    line-height: 30px;
}

.menu_child_box {
    height: 40px;
}
.menu_child {
    width: 400px;
}
.menu_child li {
    width: 100px;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    padding-top: 5px;
}
.menu_child li span {
    line-height: 30px;
}
}


/*** ページ内容 ***/
/* ページスライダー */
#slider {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
}

#slider p {
    display: block;
    width: 400px;
    font-size: 2.5em;
    letter-spacing: 0.3em;
    color: white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 40px 0;
    margin: 240px auto 0;
    text-shadow: 1px 1px 1px #888;
    text-align: center;
    font-family: "Klee","YuMincho";
}

.wrapper {
    background: rgba(0,0,0,0.5);
}

@media screen and (max-width: 1049px) {
#slider {
    height: 0;
    padding-top: 50%;
}
#slider p {
    width: 300px;
    font-size: 2.0em;
    letter-spacing: 0.3em;
    padding: 20px 0;
    margin: 19% auto 0;
}
}


/* 説明文 */
#slogan {
    width: 100%;
    background: #2E2E2E;
    color: #eee;
    font-size: 2.5em;
    padding: 50px 10px;
    line-height: 1.8em;
    text-align: center;
}
#slogan span {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    font-weight: bold;
}
#slogan p {
    display: block;
    width: 100%;
    max-width: 950px;
    margin: auto;
    padding-top: 30px;
}


/* 内容 */
.content {
    width: 100%;
    max-width: 900px;
    margin: auto;
    font-size: 1.2em;
    padding: 80px 0;
}


/* フッター */
footer {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    background: #333; 
}
footer img {
    position: absolute;
    top: 110px;
    left: 80px;
    display: block;
    width: 200px;
}

.contact_btn_footer {
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
    width: 400px;
    font-size: 1.6em;
    padding: 30px;
    text-align: center;
    color: #ccc;
    border: solid 3px #ccc;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
.contact_btn_footer:hover {
    color: #fff;
    border: solid 3px #fff;
    transition: .3s;
}
.contact_btn_footer:active {
    color: #888;
    border: solid 3px #888;
    transition: 0s;
}

#sitemap {
    display: block;
    width: 1000px;
    height: 100%;
    float: right;
}
.sitemap_inner {
    display: block;
    width: 25%;
    height: 100%;
    float: right;
    padding: 50px 0 0;
    color: #eee;
    line-height: 1.6em;
}
.sitemap_inner span {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.0em;
}
.sitemap_inner a:link,
.sitemap_inner a:visited {
    color: #eee;
    text-decoration: none;
}
.sitemap_inner a:hover {
    color: #d66;
}

#copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    background: #444;
    color: #999;
    padding: 15px;
    text-align: center;
}
#copy a:link,
#copy a:visited {
    color: #999;
    text-decoration: none;
}
#copy a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1540px) {
    #sitemap {
        width: 750px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1049px) {
footer {
    height: 400px;
}
footer img {
    top: 50px;
    left: 30px;
    width: 150px;
}
#sitemap {
    width: 100%;
    margin: 0;
    padding: 80px 30px 0;
}
}