body {
    padding-top: 70px;
}
nav {
    height: 70px;
}
.menu_child_box {
    height: 10px;
}

@media screen and (max-width: 1049px) {
body {
    padding-top: 50px;
}
nav {
    height: 50px;
}
}

.topbanner {
    display: block;
    width: 95%;
    max-width: 900px;
    margin: 150px auto 50px;
}
.topbanner img {
    display: block;
    width: 100%;
}
.topbanner:hover {
    opacity: .9;
}

#topNEWS h2 {
    border-bottom: none;
}

/* topページスライダー */
#slider {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100vh;
    margin-top: -70px;
    background: url(_images/slider01.jpg);
    background-size: cover;
    background-position: center;
}
#slider img {
    display: block;
    width: 90%;
    max-width: 800px;
    margin: 46vh auto 2%;
}
#slider p {
    display: block;
    width: 100%;
    color: white;
    font-size: 2.5em;
    text-align: center;
}

@media screen and (max-width: 1049px) {
#slider {
    padding-top: 80%;
    margin-top: 0;
}
#slider img {
    width: 85%;
    margin: 32% auto 2%;
}
}


/* NEWS */
#topNEWS {
    width: 95%;
    max-width: 1300px;
    padding: 60px 0;
    margin: auto;
}

#topNEWS h2 {
    display: inline-block;
    background: transparent;
    color: #333;
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: 0.4em;
    padding: 4px;
    padding-left: 15px;
    text-align: left;
    margin-top: 20px;
    border-left: solid 3px #6d0000;
}

.topNEWSbox {
    width: 100%;
    max-width: 1900px;
    margin: auto;
    padding: 0 10px 50px;
}
.topNEWSbox_l {
    width: 50%;
    height: 310px;
    padding-top: 30px;
    float: left;
}
.topNEWSbox_r {
    width: 50%;
    height: 310px;
    padding-top: 30px;
    overflow: auto;
}
.topNEWS_l {
    width: 50%;
    height: 100%;
    padding: 20px;
    float: left;
}
.topNEWS_r {
    width: 50%;
    height: 100%;
    padding: 20px;
    overflow: auto;
}
.topNEWSinner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    line-height: 1.4em;
}
.topNEWSinner span {
    display: block;
    min-height: 3.2em;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 8px;
    line-height: 1.6em;
}
.topNEWSinner hr {
    display: block;
    border: none;
    border-top: solid 1px #6d0000;
    margin: 15px 0;
}
.topNEWSinner p {
    line-height: 1.4em;
    color:#555;
}
.morebtn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 130px;
    font-size: 11px;
    background: transparent;
    color: #555;
    border: solid 1px #333;
    padding:  5px 0;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}
.morebtn:link,
.morebtn:visited {
    color: #555;
    text-decoration: none;
}
.morebtn:hover {
    background: #6d0000;
    color: #eee;
    border: solid 1px #6d0000;
    transition: .2s;
}
.morebtn:active {
    background: #aaa;
    transition: 0s;
    border: solid 1px #aaa;
}

@media screen and (max-width: 1349px) {
#topNEWS {
    width: 95%;
    max-width: 900px;
    padding: 20px 0 0;
}
.topNEWSbox {
    padding-bottom: 10px;
}
.topNEWSbox_l,
.topNEWSbox_r {
    width: 100%;
    height: 300px;
    padding: 10px 0 50px;
}
.topNEWS_l {
    padding: 0 15px 0 0;
}
.topNEWS_r {
    padding: 0 0 0 15px;
}
.morebtn:hover {
    background: transparent;
    color: #555;
    border: solid 1px #333;
}
.morebtn:active {
    background: #6d0000;
    color: #eee;
    border: solid 1px #6d0000;
    transition: .2s;
}
}


/* タイル */
#toptilebox {
    width: 100%;
    max-width: 1300px;
    padding: 10px;
    margin: 0 auto 200px;
}
.toptile { 
    width: 50%;
    padding: 8px;
}
.tile {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: cover !important;
}
.tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: .3s;
}
.tile:hover:before {
    transition: .3s;
}
.tile:hover > h3 {
    background: rgba(255,255,255,0.2) !important;
    transition: .3s;
}

.toptile01,
.toptile03 { 
    float: left;
}
.toptile02,
.toptile04 { 
    overflow: hidden;
}


.toptile01 a.tile {
    background: url(_images/top001.jpg);
}
.toptile01 a.tile::before {
    background: rgba(0,0,0,0.5);
}
.toptile01 a.tile:hover:before {
    background: rgba(0,0,0,0.85);
}

.toptile02 a.tile {
    background: url(_images/top002.jpg);
}
.toptile02 a.tile::before {
    background: rgba(0,0,0,0.5);
}
.toptile02 a.tile:hover:before {
    background: rgba(0,0,0,0.85);
}

.toptile03 a.tile {
    background: url(_images/top003.jpg);
}
.toptile03 a.tile::before {
    background: rgba(0,0,0,0.5);
}
.toptile03 a.tile:hover:before {
    background: rgba(0,0,0,0.85);
}

.toptile04 a.tile {
    background: url(_images/top004.jpg);
}
.toptile04 a.tile::before {
    background: rgba(0,0,0,0.4);
}
.toptile04 a.tile:hover:before {
    background: rgba(0,0,0,0.85);
}


.tile h3 {
    position: relative;
    z-index: 1;
    display: block;
    width: 200px;
    color: white;
    font-size: 1.3em;
    border: solid 1px white;
    margin: 180px auto 0;
    padding: 20px 0;
    letter-spacing: 0.3em;
    text-align: center;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    transition: .3s;
}
.tile:link,
.tile:visited {
    color: white;
    text-decoration: none;
}
.toptile04 a.tile h3 {
    background: rgba(0,0,0,0.0);
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1049px) {
#toptilebox {
    margin-bottom: 50px;    
}
.toptile { 
    padding: 8px;
}
.tile {
    height: 200px;
}
.tile h3 {
    margin: 70px auto 0;
}

.toptile01 a.tile {
    background: url(_images/top001.jpg);
}
.toptile01 a.tile::before {
    background: rgba(0,0,0,0.1);
}
.toptile01 a.tile:hover:before {
    background: rgba(0,0,0,0.4);
}

.toptile02 a.tile {
    background: url(_images/top002.jpg);
}
.toptile02 a.tile::before {
    background: rgba(0,0,0,0.3);
}
.toptile02 a.tile:hover:before {
    background: rgba(0,0,0,0.6);
}

.toptile03 a.tile {
    background: url(_images/top003.jpg);
}
.toptile03 a.tile::before {
    background: rgba(0,0,0,0.3);
}
.toptile03 a.tile:hover:before {
    background: rgba(0,0,0,0.6);
}

.toptile04 a.tile {
    background: url(_images/top004.jpg);
}
.toptile04 a.tile::before {
    background: rgba(0,0,0,0.4);
}
.toptile04 a.tile:hover:before {
    background: rgba(0,0,0,0.7);
}
}
@media screen and (max-width: 699px) {
.toptile { 
    width: 100%;
} 
}

/* トップSNS */
.topsns {
    display: block;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 100px;
}
.topsns h3 {
    display: block;
    font-size: 1.3em;
    color: #333;
    border: none;
    border-left: solid 3px #7d0000;
    padding: 5px 10px;
    margin-bottom: 40px;
    text-align: left;
    letter-spacing: 0.2em;
}
.topsns_twi {
    width: 360px;
    height: 750px;
    float: left;
}
.topsns_fb {
    width: 580px;
    height: 750px;
    float: left;
    padding: 0 110px;
}
.topsns_line {
    width: 360px;
    height: 750px;
    overflow: auto;
}
.topsnsbox iframe {
    border: solid 1px #eee !important;
}
.topsnsbox {
    display: block;
    height: 560px;
}

@media screen and (max-width: 1499px) {
.topsns {
    margin: 0 auto;
}
.topsns_twi,
.topsns_fb,
.topsns_line {
    width: 360px;
    height: 750px;
    float: left;
    margin: 0 30px;
    padding: 0px;
}
.topsnsbox {
    height: 530px;
}
}

.snsmorebtn,
.snsmorebtn img {
    display: block;
    width: 100%;
}
.snsmorebtn:hover {
    opacity: .85;
}
