/* 教育理念 */
.idea_top {
    background: url(policy_top.jpg);
}

.idea_top .wrapper {
    background: rgba(255,255,255,0.2);
}

#idea {
    padding: 40px 60px 80px;
    text-align: center;
    line-height: 3.0em;
    background: #eee;
    color: #333;
}
#idea b {
    font-size: 3.0em;
    font-weight: bold;
    line-height: 4.0em;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

@media screen and (max-width: 1049px) {
#idea {
    padding: 30px 30px 80px;
    line-height: 2.0em;
}
#idea b {
    display: block;
    font-size: 2.0em;
    line-height: 2.0em;
    padding: 20px;
}
}


/* 教育方針 */
.policy_top {
    background: url(policy_top.jpg);
}

.policy_top .wrapper {
    background: rgba(255,255,255,0.2);
}

#policy {
    width: 100%;
    margin: 100px auto;
}
.policy_l {
    width: 50%;
    float: left;
    font-size: 0.9em;
}
.policy_r {
    width: 50%;
    overflow: auto;
    font-size: 0.9em;
}
.policy_l span,
.policy_r span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 100px;
    font-size: 1.2em;
    line-height: 2.2em;
}
.policy_l img,
.policy_r img {
    display: block;
    width: 100%;
}
.policy_t {
    position: relative;
    display: block;
    width: 440px;
    margin: 0 auto 30px;
    padding: 15px 10px 20px;
}
.policy_t img {
    display: block;
    width: 100%;
    margin: auto;
}
.policy_sp1 {
    display: none;
}

@media screen and (max-width: 1049px) {
#policy {
    margin: auto;
}
.policy_l,
.policy_r {
    width: 100%;
    float: none;
}
.policy_r {
    padding: 40px 0 100px;
}
.policy_l span,
.policy_r span {
    padding: 0;
}
.policy_t {
    width: 350px;
    margin: 0 auto;
    padding: 15px 10px 20px;
}
.policy_l p,
.policy_r p {
    display: block;
    width: 90%;
    font-size: 0.9em;
    margin: auto;
    padding: 0;
}
.policy_sp1 {
    display: block;
    padding: 0;
}
.policy_sp2 {
    padding: 40px 0 100px;
}
.policy_sp3 {
    display: none;
}

}

/* 魅力 */
#appeal {
    width: 100%;
    margin: 100px auto;
}
.appeal_l {
    width: 50%;
    float: left;
    font-size: 0.9em;
}
.appeal_r {
    width: 50%;
    overflow: auto;
    font-size: 0.9em;
}
.appeal_l span,
.appeal_r span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 100px;
    font-size: 1.2em;
    line-height: 2.2em;
}
.appeal_l img,
.appeal_r img {
    display: block;
    width: 100%;
}

.appeal_t {
    position: relative;
    display: block;
    width: 440px;
    margin: 0 auto 30px;
    padding: 15px 10px 20px;
}

.appeal_t img {
    display: block;
    width: 100%;
    margin: auto;
}
.appeal_sp1 {
    display: none;
}

@media screen and (max-width: 1049px) {
#appeal {
    margin: auto;
}
.appeal_l,
.appeal_r {
    width: 100%;
    float: none;
}
.appeal_r {
    padding: 40px 0 100px;
}
.appeal_l span,
.appeal_r span {
    padding: 0;
}
.appeal_t {
    width: 350px;
    margin: 0 auto;
    padding: 15px 10px 20px;
}
.appeal_l p,
.appeal_r p {
    display: block;
    width: 90%;
    font-size: 0.9em;
    margin: auto;
    padding: 0;
}
.appeal_sp1 {
    display: block;
    padding: 0;
}
.appeal_sp2 {
    padding: 40px 0 100px;
}
.appeal_sp3 {
    display: none;
}
}


/* 特別講師紹介 */
.teacher_top {
    background: url(policy_top.jpg);
}

.teacher_top .wrapper {
    background: rgba(255,255,255,0.2);
}

.teacher_top p {
    letter-spacing: 0.3em !important;
}

#teacher {
    width: 100%;
    max-width: 1300px;
    height: 1000px;
    padding: 120px 60px 60px;
    margin: auto;
}

.teacher_l {
    position: relative;
    width: 33.33%;
    height: 460px;
    float: left;
}
.teacher_r {
    position: relative;
    width: 66.67%;
    overflow: auto;
}
.teacher_r_l,
.teacher_r_r {
    position: relative;
    width: 50%;
    height: 460px;
    overflow: auto;
}
.teacher_r_l {
    float: left;
}

#teacher span {
    position: relative;
    display: block;
    width: 330px;
    height: 330px;
    font-size: 1.2em;
    border-radius: 50%;
    margin: auto;
    line-height: 2.0em;
}
#teacher span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    transition: .3s;
}

#teacher .teacher_name {
    display: block;
    width: 100%;
    color: black;
}
#teacher h2 {
    display: block;
    width: 80%;
    font-size: 1.8em;
    font-weight: normal;
    background: transparent;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
#teacher p {
    display: block;
    width: 100%;
    font-size: 1.1em;
    color: #666;
    margin: auto;
    text-align: center;
    line-height: 1.8em;
    transition: .3s;
    padding-top: 10px;
}

.teacher01 span {
    background: url();
}
.teacher01,
.teacher03 {
    visibility: hidden;
}

@media screen and (max-width: 1049px) {
#teacher {
    height: auto;
    padding: 0 0 150px;
    margin: auto;
}
#teacher p.teachersup {
    display: block;
    background: #eaeaea;
    color: #444;
    padding: 60px 30px 60px;
    text-align: left;
}
.teacher_l,
.teacher_r,
.teacher_r_l,
.teacher_r_r {
    width: 100%;
    height: auto;
    float: none;
}
.teacher01,
.teacher03 {
    display: none;
}
}


/* キャンパス */
.campus_top {
    background: url(policy_top.jpg);
}

.campus_top .wrapper {
    background: rgba(255,255,255,0.2);
}

.campus_top p {
    letter-spacing: 0.3em !important;
}

#campus {
    width: 100%;
    max-width: 1800px;
    padding: 0 60px 300px;
    margin: auto;
}
#campus h2 {
    margin-bottom: 50px;
}
.campus_l {
    width: 50%;
    float: left;
    padding-right: 5%;
}
.campus_l img {
    width: 100%;
}
.campus_r {
    width: 50%;
    overflow: auto;
    padding: 40px 50px 50px 5%;
}
.campus_r p {
    display: block;
    font-size: 1.1em;
    line-height: 2.4em;
    letter-spacing: 0.1em;
}
.campus_r b {
    font-size: 1.2em;
}
.campus_r span {
    display: block;
    width: 100%;
    background: #eee;
    font-size: 1.1em;
    line-height: 2.4em;
    border-radius: 6px;
    padding: 30px 40px;
    margin-top: 50px;
}

@media screen and (max-width: 1049px) {
#campus {
    padding: 0 0 50px;
    margin: auto;
}
.campus_l {
    width: 100%;
    padding: 0;
}
.campus_r {
    width: 100%;
    padding: 60px 30px 30px;
}
.campus_r p {
    font-size: 1.0em;
    line-height: 2.0em;
    letter-spacing: 0.05em;
}
}